body{
    margin: 0%;
    font-size: 125%;
    
}
#bill{
    margin: 0%;
}
#szoft{
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 1%;
    
}
main{
    background-color: #AC7F5E;
    padding: 0%;
    margin: 0%;
}
@media (max-width : 1200px) {
    
    header{
        background-color: #BF6A02;
        text-align: center;
        width: 100%;
        
    }
    
    #menu{
        background-color: #975102;
        height: 100%;
        padding-bottom: 1%;
        font-size: 125%;
        display: flex;
        justify-content: center;
        gap: 5%;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #bemutatkozas{
        padding-top: 2%;
        display: flex;
        margin: auto;
        width: 80%;
        gap: 5%;
        text-align: center; 
    }
    
    #billKep{
        width: 100%;
        height: 100%;
        margin: 0%;
        border: 1px solid black;
    }
    
    h2{
        text-align: center;
    }
    #img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    
    .kepek{
        width: 250px;
        height: 250px;
        
    }
    #projektek{
        text-align: center;
    }
    .projektKepek{
        width: 450px;
        height: 300px;
    }
    .projektReszek{
        display: flex;
        gap: 15%;
        padding-bottom: 5%;
    }
    .projektSzoveg{
        width: 30%;
        padding-left: 10%;
    }
    footer{
        background-color: #975102;
        height: 70px;
        text-align: center;
    }
    footer p{
        margin: 0%;
    }
    footer div{
        padding-top: 1%;
    }
    .menupontok{
        width: 20%;
        height: 60%;
        border-radius: 10%;
    }
    #kapcsolatok{
        text-align: center;
    }
    .menupontok:hover{
        background-color: #7e4402;
        
        
    }
}
@media (max-width: 800px){
    #body{
        font-size: 90%;
    }
    #menu{
        display: flex;
        flex-direction: column;
    }
    #bemutatkozas{
        display: block;
    }
    #billKep{
        height: 350px;
        width: 300px;
    }
    #img{
        display: block;
    }
    .projektReszek{
        display: block;
        
    }
    .projektSzoveg{
        text-align: center;
        width: 80%;
    }
}
@media(max-width:480px){
    .projektKepek{
        width: 300px;
        height: 200px;
    }
}