body{
    margin: 0%;
}
#bill{
    margin: 0%;
}
#szoft{
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 1%;
    
}
@media (max-width : 1200px) {
    
    header{
        background-color: #BF6A02;
        text-align: center;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    
    #menu{
        background-color: #975102;
        height: 50px;
        font-size: 125%;
        display: flex;
        justify-content: center;
        gap: 5%;
        
    }

}